<h2> Shariah standards - Islamic Law </h2>

<ol>
 <li>
  <h3>The 10 Principles of Islamic Politics</h3>

  <ol>
   <li class="principle">
    <h4 id="Freedom">Freedom</h4>
    <p class="rule">
     There is no compulsion in <span term="Islam"></span>
    </p>
    <div class="explanation">
     <span class="quran-ref" surah="2" verse="256" firstWord="1" wordCount="4">ِ</span>
     <span term="Allah"></span>'s purpose is to test us as human beings giving us the freedom to choose, to believe or not to, and to behave well or not. The first principle above all others in Islamic politics is that it should produce a state of human freedom. People must be protected from being forced into any belief or opinion or into obedience of any person or process which they do not freely agree to being part of. 
    </div>
   </li>
   <li class="principle">
    <h4 id="Democracy">Democracy</h4>
    <p class="rule">
      A <span term="Muslim">'s</span> group's decisions are only valid if made through them listening to one another.
    </p>
    <span class="quran-ref" surah="42" verse="38" firstWord="6" wordCount="3" ></span>
    <p class="explanation">
     Since people are free, government is only legitimate if actions are agreements rather than one party forcing its will onto others. Agreements are through free discussion and negotiations where all people involved can get their voices heard.  Agreements should only affect those who are involved in making them. For this reason, one generation cannot bind the next, nor one people bind another. Any agreement made cannot be deemed valid if most of the people disagree with it, so the basic principle is that a majority of the people can always change the agreements made. For the same reason treaties made and constitutions written must be finite in duration and not bind future generations without periodic reconfirmation. 
    </p>
   </li>
   <li class="principle">
    <h4 id="Standards">Standards</h4>
    <p class="rule">
     Muslims organise politically to establish good standards of behaviour, to stop criminal behaviour and to invite people to all good actions.
    </p>
    <span class="quran-ref" surah="3" verse="104"></span>
    <p class="explanation">
     Good standards make it possible to keep easily within the law. They make contracts easy, disputes less likely and provide people easy ways to communicate. They define the "language of the law" - also known as the jurisdiction. The standards Muslims organise constitute Islamic law. Previously existing bodies that have already established standards of Islamic law have been called madhhabs. While these bodies are recognised as sincere attempts to deal with the realities of their time, Muslims in every age must reach decisions for themselves and are not bound to follow any specific prior agreement or tradition. The rules for good behaviour should be well known and so easy to understand and follow. Rules of good behaviour that are not well known or widely accepted should not be enforced but just invited to.
    </p>
   </li>
   <li class="principle">
    <h4 id="Unity">Unity</h4>
    <p class="rule">
     All Muslims must organise and work together for their political goals.
    </p>
    <span class="quran-ref" surah="3" verse="103" firstWord="1" wordCount="6"></span>
    <p class="explanation">
     The message Muslims are charged by God to deliver setting out the high Islamic standards of behaviour is not possible if Muslims are not working together. The message received will be muted and inconsistent if Muslims are not united in their efforts politically to present and respresent Islam.   
    </p>
   </li>
   <li class="principle">
    <h4 id="Respect">Respect</h4>
    <p class="rule">
     Muslims respect each other and despite disagreements do not defame or insult one another. 
    </p>
    <span class="quran-ref" surah="49" verse="11" firstWord="23" wordCount="3"></span>
    <p class="explanation">
     To avoid division into groups we must avoid insulting each other and instead disagree only respectfully, aware that we may be in the wrong and that those we disagree with may have a better case.
    </p>
   </li>
   <li class="principle">
    <h4 id="Equality">Equality</h4>
    <p class="rule">
     Every judgement of people in a dispute must treat the disputing people equally regardless of their wealth, status or position. 
    </p>
    <span class="quran-ref" surah="4" verse="135" firstWord="4" wordCount="19"></span>
    <p class="explanation">
     When people do fall into disputes these must be resolved peacefully by arbitration free from any bias by the judge. Favouritism must be avoided to prevent any group abusing any other group. 
    </p>
   </li>
   <li class="principle">
    <h4 id="Peace">Peace</h4>
    <p class="rule">
     Muslims shall never seek to harm any person who leaves them alone and never fights them and meets with them only in peace. In particular, this means that they will never seek to harm any non-combatants in any war. 
    </p>
    <span class="quran-ref" surah="4" verse="90" firstWord="24" wordCount="13"></span>
    <p class="explanation">
     Muslims seek to free themselves from oppression of all kinds and must never become the oppressors. Just as Muslims must not force people into joining, Muslims cannot force any person or group to stay.  
    </p>
   </li>
   <li class="principle">
    <h4 id="Life">Life</h4>
    <p class="rule">
     Human life may only be taken if it is the only way to stop those who kill others.
    </p>
    <span class="quran-ref" surah="17" verse="33"></span>
    <p class="explanation">
     God has forbidden taking human life except those who have the right as a result of having been given the duty to protect the life of a murdered person. Even if they have that right to kill the murderers they must not take life unnecessarily. In particular as a maximum limit one life may be taken in compensation for a life wrongfully taken.  
    </p>
   </li>
   <li class="principle">
    <h4 id="Alliance">Alliance</h4>
    <p class="rule">
     Muslims must organise to become protectors for one another.
    </p>
    <span class="quran-ref" surah="9" verse="71" firstWord="1" wordCount="5"></span>
    <p class="explanation">
     It is a duty of Muslims to organise into an alliance defend one another against oppression that threatens their freedom and their lives. 
    </p>
   </li>
   <li class="principle">
    <h4 id="Negotiation">Negotiation</h4>
    <p class="rule">
     Muslims must only ever wage war in a manner that they are able to negotiate a peace with those they fight. In particular any fighting must be under the control of a leader who has the necessary authority to negotiate peace to end the fighting. If those being fought are ready to negotiate and make peace then Muslims must always be ready to make peace.
    </p>
    <span class="quran-ref" surah="8" verse="61" firstWord="1" wordCount="5"></span>
    <p class="explanation">
     When Muslims defend themselves against those who attack them, it must be done in a way that does not go beyond what is necessary to protect their lives and essential freedoms. This means in particular that Muslims must have an organised leadership that has the duty to judge what fighting is necessary and what is not. The ability to negotiate peace is a necessity for any fighting. Unnecessary fighting is oppression. 
    </p>
   </li>

  </ol>
 </li>

</ol>
<div class="alert alert-info">
For ease of memorisation these principles are arranged as a mnemonic:
<p class="mnemonic">  
  <a href="/standards#Freedom">Freedom</a> & 
  <a href="/standards#Democracy">Democracy</a>
  <br/>
  <a href="/standards#Standards">S</a>
  <a href="/standards#Unity">U</a>
  <a href="/standards#Respect">R</a>
  <a href="/standards#Equality">E</a>
  <br/>
  <a href="/standards#Peace">P</a>
  <a href="/standards#Life">L</a>
  <a href="/standards#Alliance">A</a>
  <a href="/standards#Negotiation">N</a> 
</p>
</div>