	<sebm-google-map #theMapDirective
		[latitude]="latitude" 
		[longitude]="longitude"
		(centerChange)="centreChanged($event, theMap)"
		(mapClick)="mapClicked($event, theMap)">
		 <sebm-google-map-marker
          [latitude]="latitude"
          [longitude]="longitude">
      </sebm-google-map-marker>
    </sebm-google-map>
    latitude: {{latitude}} , longitude: {{longitude}}<br/>

    <h4>{{locationFound}} <input type="text" [(ngModel)]="searchLocation" placeholder="lookup a location"/>
    <button type="button" (click)="searchForLocation()">Search</button>
    <div *ngIf="locationNotFound">
    	No location found
    </div>
  </h4>
    <h3>Prayer Times for
    <input type="date" #dateInput placeholder="YYYY-MM-DD" value={{date}} (change)=setDate(dateInput.value)/>
	({{timeZone}})</h3>
    
    <div *ngIf="fajrIsAdjusted">
    	Fajr and isha use adjusted latitude of {{fajrAdjustedLatitude}}
    </div>
    <div *ngIf="maghribIsAdjusted">
    	Maghrib and Sunrise use adjusted latitude of {{maghribAdjustedLatitude}}
    </div>
	<ul>
		<li *ngFor="let time of prayerTimes">
			{{time.name}} : {{time.time}}
		</li>
	</ul>