.sebm-google-map-container {
	  height: 400px;
	}

.prayer-time-table{
	border-collapse: collapse;
}
.prayer-time-table td{
	border: solid 1px black;
	padding:8px;
}
.new-lunar-month{
	border-bottom: 5px solid purple;
}
.time-name{
	font-size: large;
	text-transform: capitalize;
}
.main-time{
	font-size: large;
}