.sebm-google-map-container {
	  height: 400px;
	}

.prayer-time-table{
	border-collapse: collapse;
}
.prayer-time-table td{
	border: solid 1px black;
	padding:8px;
}
.new-lunar-month{
	border-bottom: 5px solid purple;
}
.time-name{
	text-transform: capitalize;
}
@media (max-width:767px){
	.time-name{
		font-size:medium; ;
	}
	.main-time{
		font-size: medium;
	}
}
@media (min-width:768px){
	.time-name{
		font-size:large; ;
	}
	.main-time{
		font-size: large;
	}
}
